@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rye&family=Sekuya&display=swap');

/* Color Palette:

--linen: #f3e9dcff;
--golden-chestnut: #c08552ff;
--espresso: #5e3023ff;
--toffee-brown: #895737ff;
--desert-sand: #dab49dff;

Palette gotten from here:
https://coolors.co/f3e9dc-c08552-5e3023-895737-dab49d
*/


/* Box sizing reset */
html {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f3e9dcff;
    font-size: 110%;
    line-height: 1.4;
    filter: sepia(40%);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 95%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a.skip-link {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

header {
    background-color: #5e3023ff;
    border: 3px solid #895737ff;
    color: #dab49dff;
    font-family: "Sekuya", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 3.6rem;
    letter-spacing: 1rem;
    font-family: "Rye", "Sekuya", serif;
    text-transform: uppercase;
    filter: drop-shadow(10px 4px 1px black);
}
h2, h3 {
    font-family: "Rye", "Sekuya", serif;
    text-transform: uppercase;
    font-size: 2.1rem;
    filter: drop-shadow(10px 4px 1px black);
}
p {
    margin: 0 1rem 1rem 1rem;
}

body {
    background-color: #c08552ff;
}

/* Removes the list marker from all unordered lists */
ul {
    list-style-type: none;
}

section.container {
    margin: 0.5rem auto;
}

section {
    border: 3px solid #5e3023ff;
    background-color: #895737ff;
}


nav {
    text-align: center;
    padding: 0;
}

nav ul {
    padding: 0.5rem;
}

nav ul li {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #895737ff;
    background-color: #5e3023ff;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: lightcoral;
}



section:nth-of-type(2) ul::before {
    content: "EXAMPLES";
    color: black;
    font-size: 2.1rem;
    text-decoration: underline;
    font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

section:nth-of-type(2) ul {
    background-image: url("parchment paper texture - Copy.jpg");
    background-size: cover;
    background-color: #f3e9dcff;
    margin: 0 auto 1rem auto;
    padding: 1.2rem;
}

section:nth-of-type(2) ul li {
    display: block;
    color: black;
    font-size: 1rem;
    font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 0.2rem;
    margin: 1%;
}

ol {
    padding: 0;
}
ol li {
    margin: 30px;
    text-align: left;
}

a.link-github {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

svg {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

aside.profile {
    background-color: #f3e9dcff;
    border: 3px solid #5e3023ff;
    color: black;
    padding: 0;
    margin: 0;
}

aside.profile h4 {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

aside.profile ul {
    padding: 0;
    margin: 0;
}

aside.profile ul a {
    color: #895737ff;
    font-size: 1rem;
}
aside.profile ul a:visited {
    color: #895737ff;
}

aside.profile li {
    font-size: 1rem;
}

aside.profile a {
    margin-top: 6px;
    color: #5e3023ff;
    font-size: 1rem;
}


footer#files div.container {
    background-color: #5e3023ff;
    border: 3px solid #895737ff;
    color: #dab49dff;
}

.link-downloadcss,
.link-downloadhtml,
.link-codepen {
    border-top: 3px solid #895737ff;
    padding: 0.5rem;
    font-size: 1.6rem;
}

#styles div.container {
    border: 3px solid #895737ff;
    background-color: #5e3023ff;
}

#styles h2 {
    color: #dab49dff;
}

.features {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0.5rem;
}

.features li {
    display: inline-block;
    background-color: #895737ff;
    border: 3px solid #dab49dff;
    padding: 1rem;
    margin: 10px 5%;
}

.features li a {
    font-size: 1.8rem;
    font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.features li span {
    display: block;
}

.page-footer .container {
    background-color: #5e3023ff;
    border: 3px solid #895737ff;
    padding: 1rem;
}

.page-footer .container ul {
    padding: 0;
}

@media screen and ((min-width: 1200px) or (orientation: landscape)) {
    .container {
        width: 84%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 8.4rem;
        letter-spacing: 1rem;
        font-family: "Rye", "Sekuya", serif;
        text-transform: uppercase;
        filter: drop-shadow(10px 4px 1px black);
    }

    nav ul li {
        display: inline;
        margin: 0 1rem;
        border-top: none;
        border-left: 3px solid #895737ff;
        border-right: 3px solid #895737ff;
        border-bottom: 3px solid #895737ff;
        background-color: #5e3023ff;
        padding: 1.75rem 1rem 10px 1rem;
    }

    section h2 {
        font-family: "Rye", "Sekuya", serif;
        text-transform: uppercase;
        font-size: 3.2rem;
        filter: drop-shadow(10px 4px 1px black);
    }

    section:nth-of-type(2) ul::before {
        content: "EXAMPLES";
        color: black;
        font-size: 5.5rem;
        text-decoration: underline;
        font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    section:nth-of-type(2) ul {
        border: 3px solid goldenrod;
        background-image: url("parchment paper texture - Copy.jpg");
        background-size: cover;
        background-color: #f3e9dcff;
        width: 70%;
        margin: 0 auto 1rem auto;
        padding: 1.2rem;
    }

    aside.profile {
        position: fixed;
        top: 40%;
        right: 0.2rem;
        background-color: #f3e9dcff;
        border: 3px solid #5e3023ff;
        color: black;
        padding: 0;
        margin: 0;
    }

    aside.profile h4 {
        padding: 0;
        margin: 0 0 10px 0;
        font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    a.link-github {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 20%;
    }

    aside.profile ul a {
        color: #895737ff;
        font-size: 0.7rem;
    }
    aside.profile li {
        font-size: 0.7rem;
    }
}