@charset "UTF-8";

/* Imports 2 fonts from Google Fonts, Rye and Sekuya, to sell the "western" asthetic */
@import url('https://fonts.googleapis.com/css2?family=Rye&family=Sekuya&display=swap');

/* Color Palette:

--linen: #f3e9dcff;
--golden-chestnut: #c08552ff;
--espresso: #5e3023ff;
--toffee-brown: #895737ff;
--desert-sand: #dab49dff;

Palette gotten from here:
https://coolors.co/f3e9dc-c08552-5e3023-895737-dab49d
*/


/* Box sizing reset, basics for the site. Also applies the "sepia" filter to make the page look more like a western */
html {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f3e9dcff;
    font-size: 110%;
    line-height: 1.4;
    filter: sepia(40%);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Sets the width of the page, as well as applies a flexbox to the whole page */
.container {
    width: 95%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Adjusts the skip link to be within the header box */
a.skip-link {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

/* Sets the header and header h2 with a nice box and a font */
header {
    background-color: #5e3023ff;
    border: 3px solid #895737ff;
    color: #dab49dff;
    font-family: "Sekuya", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header h2 {
    font-family: "Sekuya", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Styling for the H1 */
h1 {
    font-size: 3.6rem;
    letter-spacing: 1rem;
    font-family: "Rye", "Sekuya", serif;
    text-transform: uppercase;
    filter: drop-shadow(10px 4px 1px black);
}

/* Styling for the H2 and H3 generally */
h2,
h3 {
    font-family: "Rye", "Sekuya", serif;
    text-transform: uppercase;
    font-size: 2.1rem;
    filter: drop-shadow(10px 4px 1px black);
}

/* At both sections of the page (header and footer) styles the github star to be above the link, as well as be smaller then it usually would be */
a.link-github {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

svg {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

/* Puts a margin around all the paragraphs to make them more readable */
p {
    margin: 0 1rem 1rem 1rem;
}

/* Gives the whole page a background color */
body {
    background-color: #c08552ff;
}

/* Removes the list marker from all unordered lists */
ul {
    list-style-type: none;
}

/* Moves the sections and footers into the center */
section.container,
footer,
aside {
    margin: 0.5rem auto;
}

/* Generally gives the sections a nice looking backdrop */
section {
    border: 3px solid #5e3023ff;
    background-color: #895737ff;
}

/* Navigation styling */
nav {
    text-align: center;
    padding: 0;
}

nav ul {
    padding: 0.5rem;
}

nav ul li {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #895737ff;
    background-color: #5e3023ff;
}

/* Styles the vast majority of links around the site, just changing colors */
a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: lightcoral;
}

/* Specifically styles one of the sections to include a "WANTED" poster */
section:nth-of-type(2) ul::before {
    content: "EXAMPLES";
    color: black;
    font-size: 2.1rem;
    text-decoration: underline;
    font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

section:nth-of-type(2) ul {
    background-image: url("parchment paper texture - Copy.jpg");
    background-size: cover;
    background-color: #f3e9dcff;
    margin: 0 auto 1rem auto;
    padding: 1.2rem;
}

section:nth-of-type(2) ul li {
    display: block;
    color: black;
    font-size: 1rem;
    font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 0.2rem;
    margin: 1%;
}

/* Styles the ordered list near the bottom of the page */
ol {
    padding: 0;
}

ol li {
    margin: 30px;
    text-align: left;
}

/* Styles the aside that describes the currently selected style with colors, positioning, and fonts */
aside.profile {
    background-color: #f3e9dcff;
    border: 3px solid #5e3023ff;
    color: black;
    padding: 0;
    margin: 0;
}

aside.profile h4 {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

aside.profile a {
    margin-top: 6px;
    color: #5e3023ff;
    font-size: 1rem;
}

aside.profile ul {
    padding: 0;
    margin: 0;
}

aside.profile li {
    font-size: 1rem;
}

aside.profile li a {
    color: #895737ff;
    font-size: 1rem;
}

aside.profile li a:visited {
    color: #895737ff;
}

/* Styles the footer which provides the user with the files */
footer#files div.container {
    background-color: #5e3023ff;
    border: 3px solid #895737ff;
    color: #dab49dff;
}

.link-downloadcss,
.link-downloadhtml,
.link-codepen {
    border-top: 3px solid #895737ff;
    padding: 0.5rem;
    font-size: 1.6rem;
}

/* Styles the "Featured Styles" section */
#styles div.container {
    border: 3px solid #895737ff;
    background-color: #5e3023ff;
}

#styles h2 {
    color: #dab49dff;
}

/* Spreads the styles themselves out to look more visually interesting */
.features {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 0.5rem;
}

.features li {
    display: inline-block;
    background-color: #895737ff;
    border: 3px solid #dab49dff;
    padding: 1rem;
    margin: 10px 5%;
}

.features li a {
    font-size: 1.8rem;
    font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.features li span {
    display: block;
}

/* Styles the last page footer */
.page-footer .container {
    background-color: #5e3023ff;
    border: 3px solid #895737ff;
    padding: 1rem;
}

.page-footer .container ul {
    padding: 0;
}

/* Changes some of the styling if the user is on a decently sized computer */
@media screen and ((min-width: 1200px)) {

    /* Compresses the containers */
    .container {
        width: 84%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* Makes the H1 bigger */
    h1 {
        font-size: 8.4rem;
        letter-spacing: 1rem;
        font-family: "Rye", "Sekuya", serif;
        text-transform: uppercase;
        filter: drop-shadow(10px 4px 1px black);
    }

    /* Styles the UL to look more like a hanging sign rather then a boring box */
    nav ul li {
        display: inline;
        margin: 0 1rem;
        border-top: none;
        border-left: 3px solid #895737ff;
        border-right: 3px solid #895737ff;
        border-bottom: 3px solid #895737ff;
        background-color: #5e3023ff;
        padding: 1.75rem 1rem 10px 1rem;
    }

    /* Makes the H2's bigger */
    section h2 {
        font-family: "Rye", "Sekuya", serif;
        text-transform: uppercase;
        font-size: 3.2rem;
        filter: drop-shadow(10px 4px 1px black);
    }

    /* Makes the "EXAMPLES" text bigger */
    section:nth-of-type(2) ul::before {
        content: "EXAMPLES";
        color: black;
        font-size: 5.5rem;
        text-decoration: underline;
        font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    /* Makes the list of usable features bigger */
    section:nth-of-type(2) ul {
        border: 3px solid goldenrod;
        background-image: url("parchment paper texture - Copy.jpg");
        background-size: cover;
        background-color: #f3e9dcff;
        width: 70%;
        margin: 0 auto 1rem auto;
        padding: 1.2rem;
    }

    /* Sticks the aside on the right side of the screen rather then placing it at the bottom of the page */
    aside.profile {
        position: fixed;
        top: 40%;
        right: 0.2rem;
        background-color: #f3e9dcff;
        border: 3px solid #5e3023ff;
        color: black;
        padding: 0;
        margin: 0;
    }

    /* Makes the text for the aside smaller to fit in the smaller box */
    aside.profile h4 {
        padding: 0;
        margin: 0 0 10px 0;
        font-family: "Rye", Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    aside.profile ul a {
        color: #895737ff;
        font-size: 0.7rem;
    }

    aside.profile li {
        font-size: 0.7rem;
    }
}